<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>controler.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>controler.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeorder</servlet-name>
        <servlet-class>controler.placeorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controler.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmmail</servlet-name>
        <servlet-class>controler.confirmmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginser</servlet-name>
        <servlet-class>controler.loginser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeorder</servlet-name>
        <url-pattern>/placeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmmail</servlet-name>
        <url-pattern>/confirmmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginser</servlet-name>
        <url-pattern>/loginser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
